.head{
    color:rgb(3, 63, 6);
    background-color: rgb(156, 196, 186);
    text-align: center;
    padding: 50px;
    border-radius: 20px;
    border-color: blueviolet;
    margin: 20px;
}

.itachi{
    color: rgb(216, 59, 31);
    background-color: cornflowerblue;
    text-align: center;
    padding: 30px;
    margin: 50px;
    border-radius: 5px;
}